main {
    width: 100%;
}

.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    background-image: url('../imagensSite/Lobo-Background.png');
    background-position: center center;
    background-size: cover;
}

.Info-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 50%;
}

.Banner-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    color: #FFFFFF;
}

.Banner-Title h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 111px;
    font-weight: 700;
}

.Banner-Subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30%;
    width: 80%;
    color: #FFFFFF;
}

.Banner-Subtitle h3 {
    font-style: normal;
    line-height: 25px;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-indent: 70px;
    letter-spacing: 0.3px;
}

.Banner-Line {
    display: flex;
    justify-self: center;
    width: 99px;
    height: 5px;
    background: #FFFFFF;
}

.Sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #2C5680;
}

.Sobre-Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 90px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    letter-spacing: 1.8px;
    color: #DEB959;
}

.Sobre-Subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 33px;
    height: 240px;
    width: 53%;
    color: #FFFFFF;
}


/* VALORES */

.Valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: #333333;
}

.Valores-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Darker Grotesque', sans-serif;
    color: #DEB959;
}

.Valores-Boxes-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
}


/* VALORES -> PROTECAO */

.Protecao-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 300px;
}

.Protecao-Icon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}

.Protecao-Icon {
    height: 80%;
    width: 75%;
    background-image: url("../imagensSite/Protecao-Icon.png");
    background-position: center center;
    background-size: cover;
}

.Protecao-Title {
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.Protecao-Descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    word-wrap: break-word;
    letter-spacing: 0.8px;
    line-height: 20px;
}


/* VALORES -> CARINHO */

.Carinho-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 300px;
}

.Carinho-Icon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}

.Carinho-Icon {
    height: 80%;
    width: 90%;
    background-image: url("../imagensSite/Carinho-Icon.png");
    background-position: center center;
    background-size: cover;
}

.Carinho-Title {
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.Carinho-Descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    word-wrap: break-word;
    letter-spacing: 0.8px;
    line-height: 20px;
}


/* VALORES -> COMPANHEIRISMO */

.Companheirismo-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 300px;
}

.Companheirismo-Icon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}

.Companheirismo-Icon {
    height: 80%;
    width: 75%;
    background-image: url("../imagensSite/Companheirismo-Icon.png");
    background-position: center center;
    background-size: cover;
}

.Companheirismo-Title {
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.Companheirismo-Descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    word-wrap: break-word;
    letter-spacing: 0.8px;
    line-height: 20px;
}


/* VALORES -> RESGATE */

.Resgate-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 300px;
}

.Resgate-Icon-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}

.Resgate-Icon {
    height: 80%;
    width: 75%;
    background-image: url("../imagensSite/Resgate-Icon.png");
    background-position: center center;
    background-size: cover;
}

.Resgate-Title {
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.Resgate-Descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    color: #FFFFFF;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    word-wrap: break-word;
    letter-spacing: 0.8px;
    line-height: 20px;
}


/* LOBO EXEMPLO DIV */

.Lobo-Exemplo {
    width: 100%;
    height: 1230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Lobo-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Darker Grotesque', sans-serif;
    color: #DEB959;
}

.Lobo-Box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 450px;
}

.Lobo-Foto-Container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 620px;
}

.Lobo-Info-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    height: 86%;
    width: 480px;
    padding-top: 60px;
}

.Lobo-Name {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.Lobo-Idade {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.9px;
}

.Lobo-Texto-Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
}

.Lobo-Texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.Lobo-DuplaFoto-Container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 90%;
    width: 90%;
}

.Foto-Behind {
    height: 90%;
    width: 93%;
    /* BORDER NECESSARIO */
    border: 3px solid #333333;
    background-color: #2C5680;
    margin-right: auto;
    margin-bottom: auto;
}

.Lobo-Foto {
    position: absolute;
    height: 370px;
    width: 520px;
    background-image: url("../imagensSite/Lobo-Exemplo.png");
    background-position: center center;
    background-size: cover;
}


/* SELECIONA A SEGUNDA LOBO BOX, N SEI PQ EU TENHO Q COLOCAR 3 NO NTH-CHILD */

.Lobo-Exemplo>.Lobo-Box:nth-child(3) {
    margin-top: 80px;
    margin-left: 300px;
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Lobo-Foto {
    background-image: url("../imagensSite/Lobo-Exemplo2.png");
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Lobo-Name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Lobo-Idade {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Lobo-Texto {
    text-align: right;
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Lobo-Foto-Container {
    justify-content: flex-end;
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Lobo-DuplaFoto-Container {
    align-items: flex-start;
    justify-content: flex-end;
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Foto-Behind {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
}

.Lobo-Exemplo>.Lobo-Box:nth-child(3) .Lobo-Foto {
    height: 350px;
    width: 500px;
}